@import "./styles/mixins.scss";
@import "./styles/start.scss";
@import "./styles/questions.scss";
@import "./styles/options.scss";
@import "./styles/modal.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Libre Franklin", sans-serif;
}

body {
  background: url(./images/whiteblue.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
