@import "./styles/mixins.scss";
@import "./styles/start.scss";
@import "./styles/questions.scss";
@import "./styles/options.scss";


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Libre Franklin', sans-serif;
  // margin:0;
  // padding:0;
}

#root{
  background-image: url(./images/plain.jpg);
}

